<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directors List</title>
</head>
<body>
    <h1>Director list</h1>
    <ul>
        {% for director in directors %}
        <li><a href="{% url 'filmsList' director.id %}">{{ director }}</a></li>
        {% endfor %}
    </ul>

    <br>

   
        <p>Funkar inte</p>
        {% for movie in movies%}
        <button>
            <a href="{% url 'genre_movies' movie.genre %}">{{movie.genre}} </a>
        </button>
        {%endfor%}
    
    
    <br> 

    <p>Funkar</p>
    <button>
        <a href="{% url 'dramaFilms' %}">Drama</a>
    </button>
    <button>
        <a href="{% url 'actionFilms' %}">Action</a>
    </button>
    <button>
        <a href="{% url 'adventureFilms' %}">Adventure</a>
    </button>
    <button>
        <a href="{% url 'horrorFilms' %}">Horror</a>
    </button>
    <button>
        <a href="{% url 'biographyFilms' %}">Biography</a>
    </button>

</body>
</html>