<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film List</title>
</head>
<body>
    <h1>{{ director }}</h1>
    
    <ul>
        {% for film in films %}
        <li>Name: {{ film }}</li>
        <li>Year: {{ film.year }}</li>
        <li>Rating: {{ film.rating }}</li>
        <li>Genre: {{ film.genre }}</li>
        <br>

        {% endfor %}
    </ul>
    
    <a href="{% url 'directorsList' %}"> back to directors</a>
</body>
</html>