{%extends 'layout.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block name%}
    <title>Forms</title>
    {%endblock%}
</head>
<body>
    {% block content%}
    <h1>Welcome to our Community!</h1>

    <p>
        Hello <b>{{qOne}}</b>, it's so nice to connect with you! We're thrilled to have you join us on this exciting journey. <br>
        
        We noticed that you love <b>{{qTwo}}</b>, and that's wonderful! Our small friends bring so much joy and warmth to our lives. <br>
        
        What's more, we're intrigued to know that your favorite hobby is <b>{{qTree}}</b>! That's a fantastic way to spend your time and unwind. <br>
        
        Your talent for <b>{{qFour}}</b> is impressive! Your unique skills will certainly add a special touch to our community. <br>
        
        Once again, welcome aboard! We can't wait to embark on this journey with you and learn more about your unique contributions. <br>
        
        Warm regards, <br>
        Lord Tenebris
    </p>
    {%endblock%}
</body>
</html>