{% extends 'home.html' %}

    {% block content %}

    <form action="{% url 'addGame' %}" style="display:flex; flex-direction:column; width:25%">

        <label for="">Name:</label>
        <input type="text" name="gameName">
        
        <label for="">Year:</label>
        <input type="text" name="gameYear">
        
        <label for="">Phase:</label>
        <select name="phases" id="">
            {% for i in phases %}
                <option value="{{i}}">{{ i }}</option>
            {% endfor %}
        </select>
        
        <label for="">Developer:</label> 
        <select name="developers" id="">
            {% for i in developers%}
                <option value="{{i}}">{{ i }}</option>
            {% endfor %}
        </select>   
        
        <label for="">Platform:</label>
        <select name="platforms" id="">
            {% for i in platforms%}
                <option value="{{i}}">{{ i }}</option>
            {% endfor %}
        </select>
        
        <label for="">Category:</label>
        <select name="categories" id="">
            {% for i in categories%}
                <option value="{{i}}">{{ i }}</option>
            {% endfor %}
        </select>

        <br>

        <input type="submit" value="Submit">

    </form>

    <br>

    <button><a href="{% url 'home' %}">Back</a></button>
    {% endblock %}
