{% extends 'home.html' %}

{% block content %}
<!-- A "checkEdit" used to see if user want only see the information about the game, or edit it -->
{% if not checkEdit %}
<div>
    <ul>
        <li>{{ game }}</li>
        <li>{{ game.year }}</li> 
        <li>{{ game.phase }}</li>
        <li>{{ game.platform }}</li>
        <li>{{ game.developer }}</li>
        <li>{{ game.category }}</li>
    </ul> 
</div>

<a href="{% url 'editGame' game.id %}">Edit</a>
<a href="{% url 'gameList' %}">Back</a>
{% endif %}



{% if checkEdit %}
<!-- The same form as in addGame, but a bit different. Could use include to do code a bit better, but didn't know it before -->
<form action="{% url 'editGame' game.id %}" style="display:flex; flex-direction: column; width:25%" method="post">
    {% csrf_token %}

    <label for="">Name:</label>
    <input type="text" name="gameName" value="{{ game.name }}" required> 

    <label for="">Year:</label>
    <input type="number" name="gameYear" value="{{ game.year }}" required> 

    <label for="">Phase:</label>
    <select name="gamePhases">
    <!-- for-loop to show all option -->
    {% for i in phases %}
        <!-- if-statement to show user chosen option before, to make better experience for user -->
        {% if game.phase == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>

    <label for="">Platform:</label>
    <select name="gamePlatforms">
    {% for i in platforms %}
        {% if game.platform == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>

    <label for="">Developer:</label>
    <select name="gameDevelopers">
    {% for i in developers %}
        {% if game.developer == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>

    <label for="">Category:</label>
    <select name="gameCategories">
    {% for i in categories %}
        {% if game.category == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>
    <br>
    <input type="submit" value="Save">
</form>
<a href="{% url 'gameInfo' game.id %}">Back</a>
{% endif %}


{% endblock %}