{% extends 'home.html' %}

{% block content %}

<!-- Idea of "if-developer" is to show information about each developer, when user filter them -->
{% if developer %}
<div style="display: flex; flex-direction:column; width:35%">
    <h1>{{developer.name}}</h1>
    <h3>{{developer.year}}</h3>
    <h2>{{developer.info}}</h2>
</div>
{% endif %}

<h3>Your games</h3>
    <!-- The list of games -->
    <ul>
        <!-- Show the list of the game that user put/created -->
        {% for game in games %}
        <li>
            <a href="{% url 'gameInfo' game.id %}">{{ game }}</a>
             <br>
             <div style=" display:flex; gap:1em">
                <a href="{% url 'editGame' game.id %}">Edit</a>
                <a href="{% url 'removeGame' game.id %}">Remove</a> 
             </div>
        </li>
 
        
        {% endfor %}
    </ul>

    <!-- Filter: -->
    <div>
        <form action="{% url 'gameList' %}" method="POST">
            {% csrf_token %}
            <!-- Phase: -->
            <label for="">Phase:</label>
            <select name="gamePhases">
                <option value="all">All</option>
                {%for i in phases %}
                    {% if phase == i %}
                    <!-- value will be sended to server (request.POST.get("name")) -->
                    <option value="{{i}}" selected="selected">{{i}}</option>
                    {% else %}
                    <option value="{{i}}">{{i}}</option>
                    {% endif%}
                {% endfor %}
            </select>
            <!-- Developer: -->
            <label for="">Developer:</label>
            <select name="gameDevelopers">
                <option value="all">All</option>
                {% for i in developers %}
                    {% if developer == i %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                    {% else %}
                    <option value="{{i}}">{{i}}</option>
                    {% endif%}
                {% endfor %}
            </select>
            <!-- Category: -->
            <label for="">Category:</label>
            <select name="gameCategories">
                <option value="all">All</option>
                {% for i in categories %}
                    {% if category == i %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                    {% else %}
                    <option value="{{i}}">{{i}}</option>
                    {% endif%}
                {% endfor %}
            </select>
            <!-- Platform: -->
            <label for="">Platform:</label>
            <select name="gamePlatforms">
                <option value="all">All</option>
                {% for i in platforms %}
                    {% if platform == i %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                    {% else %}
                    <option value="{{i}}">{{i}}</option>
                    {% endif%}
                {% endfor %}
            </select>

            <input type="text" name="checkName" placeholder="search">
            <!-- value is text that will appear in html -->
            <input type="submit" value="search">
        </form>
    </div>


    
    <a href="{% url 'home' %}">Back</a>
{% endblock %}