{% extends 'home.html' %}

{% block content %}

{% if not checkEdit %}
<div>
    <ul>
        <li>{{ game }}</li>
        <li>{{ game.year }}</li> 
        <li>{{ game.year }}</li>
        <li>{{ game.platform }}</li>
        <li>{{ game.developer }}</li>
        <li>{{ game.category }}</li>
    </ul> 
</div>
{% endif %}

<a href="{% url 'editGame' game.id %}">Edit</a>
<a href="{% url 'gameList' %}">Back</a>


{% if checkEdit %}
<form action="{% url 'editGame' game.id %}" style="display:flex; flex-direction: column; width:25%" method="post">
    {% csrf_token %}

    <label for="">Name:</label>
    <input type="text" name="gameName" value="{{ game.name }}" required> 

    <label for="">Year:</label>
    <input type="number" name="gameYear" value="{{ game.year }}" required> 

    <label for="">Phase:</label>
    <select name="gamePhases">
    {% for i in phases %}
        {% if game.phase == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>

    <label for="">Platform:</label>
    <select name="gamePlatforms">
    {% for i in platforms %}
        {% if game.platform == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>

    <label for="">Developer:</label>
    <select name="gameDevelopers">
    {% for i in developers %}
        {% if game.developer == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>

    <label for="">Category:</label>
    <select name="gameCategories">
    {% for i in categories %}
        {% if game.category == i %}
        <option value="{{i}}" selected="selected">{{i}}</option>
        {% else %}
        <option value="{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
    </select>
    <br>
    <input type="submit" value="Save">
</form>
{% endif %}


{% endblock %}